main {
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    box-shadow: 0px 0px 7px #000000;
    border-right: 7px solid #1971e4;
    border-left: 7px solid #1971e4;
    border-radius: 7px;
    padding: 20px;
}


h3 {
    text-align: center;
    padding-top: 25px;
    margin: 0px;
}


.button_area {
    padding-top: 15px;
    display: flex; 
    justify-content: space-between;
}
a {
    width: 200px;
}